 .Coursel-img
 {
    height: 418px !important ;
    width: 100% !important;
}
@import url('https://fonts.googleapis.com/css?family=PT+Sans');

h2{
  padding-top: 1.5rem;
}
.container{
align-items: center;
}
a{
  color: #333;
}
a:hover{
  color: #da5767;
  text-decoration: none;
}
.card{
  border: 0.40rem solid #325b83;
  top: 10%;
}
.signup.form-control{
  background-color: #f8f9fa;
  padding: 20px;
  padding: 25px 15px;
  margin-bottom: 1.3rem;
  align-items: center;
}
.signup.form-group{
    background-color: #f8f9fa;
    padding: 20px;
    padding: 25px 15px;
    margin-bottom: 1.3rem;
    align-items: center;
  }
  
.signup.form-control:focus {

    color: #000000;
    background-color: #ffffff;
    border: 3px solid #da5767;
    outline: 0;
    box-shadow: none;

}

.signup.btn{
  padding: 0.6rem 1.2rem;
  background: #da5767;
  border: 2px solid #da5767;
}
.btn-primary:hover {

    
    background-color: #df8c96;
    border-color: #df8c96;
  transition: .3s;

}
.help-block-error{
    color: red;
}
.list-container{
  border:1px solid grey;
  padding:50px;
  margin: 50px;
}
.card {
  min-height: 200px;
  height: 600px;
  border: #ffffff;
  margin: auto;
  padding: 15px;
  position: relative;
  /* border: 12px solid red; */
}
.card-groups{
  display: flex;
  flex-flow: row wrap;
}