 
@import url('https://fonts.googleapis.com/css?family=PT+Sans');
 
.navbar{
  height: 70px;
}
.main-layout{
  margin: 50px;
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  /* top:5px; */
  margin-top: 500px;
  width: 100%;
  background-color: rgb(48, 45, 45);
  color: white;
  text-align: center;
}

.shopping-cart {
  height: 493px;
  background: #FFFFFF;
  box-shadow: 1px 2px 3px 0px rgba(0,0,0,0.10);
  border-radius: 6px;
 
  display: flex;
  flex-direction: column;
}
.shopping-cart .title {
  height: auto;
  width: auto;
  border-bottom: 1px solid #E1E8EE;
  padding: 20px 30px;
  color: #5E6977;
  font-size: 18px;
  font-weight: 400; 
}
 
.shopping-cart .item {
  padding: 20px 30px;
  height: 220px;
  display: flex;
  margin-bottom: 15px;
  /* background-color: red; */
}
 
.shopping-cart .item:nth-child(3) {
  border-top:  1px solid #E1E8EE;
  border-bottom:  1px solid #E1E8EE;
}
.shopping-cart .image {
  margin-right: 50px;
}
.shopping-cart img {
 position: relative;

}
/*  
Let’s add some basic style to  product name and description. */
.shopping-cart .description {
  padding-top: 10px;
  margin-right: 60px;
  width: 505px;
  /* background-color: red; */
}
 
.shopping-cart .description span {
  display: block;
  font-size: 14px;
  color: #43484D;
  font-weight: 400;
}
.shopping-cart .description span:first-child {
  margin-bottom: 5px;
}
.shopping-cart .description span:last-child {
  font-weight: 300;
  margin-top: 8px;
  color: #86939E;
}
 
 .Coursel-img
 {
    height: 500px !important ;
    width: 100% !important;
}
.checkout .card{
<<<<<<< Updated upstream
  height: auto;
  /* margin: 55px; */
}
.sidenav {

  width: 300px; /* Set the width of the sidebar */
  position: absolute; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  /* background-color: #111; Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
  margin: 116px 35px;
}

/* The navigation menu links */
.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  
  padding-bottom: 20px;
}
nav ul{
  list-style-type: none;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav button{
  border-radius: 10px;
  width: 250px;
  
  display: block;
}


=======
  height: 500px;
}
.sidenav {

  width: 300px; /* Set the width of the sidebar */
  position: absolute; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  /* background-color: #111; Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
  margin: 116px 35px;
}

/* The navigation menu links */
.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  
  padding-bottom: 20px;
}
nav ul{
  list-style-type: none;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav button{
  border-radius: 10px;
  width: 250px;
  
  display: block;
}


>>>>>>> Stashed changes
/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
  p.loader-text{
    margin-top: 0;
    font-size: 26px;
    margin-bottom: 1rem;
    position: absolute;
    padding: 134px 590px;
}
.carddetails{
position: relative;
}
.carddetails-img{
  height:435px;
  width:498px;
  border:1px solid rgb(48, 46, 46);
  box-shadow: black;
  position: relative;
}

.loader4 {
  width:300px;
  height:300px;
  display:inline-block;
  padding:0px;
  border-radius:100%;
  border:16px solid;
  border-top-color:rgba(246, 36, 89, 1);
  border-bottom-color:rgba(255,255,255, 0.3);
  border-left-color:rgba(246, 36, 89, 1);
  border-right-color:rgba(255,255,255, 0.3);
  -webkit-animation: loader4 1s ease-in-out infinite;
  animation: loader4 1s ease-in-out infinite;
}
@keyframes loader4 {
  from {transform: rotate(0deg);}
  to {transform: rotate(360deg);}
}
@-webkit-keyframes loader4 {
  from {-webkit-transform: rotate(0deg);}
  to {-webkit-transform: rotate(360deg);}
}

h2{
  padding-top: 1.5rem;
  color: #ffffff;
}
.container{
align-items: center;
}
a{
  color: #333;
}
a:hover{
  color: #da5767;
  text-decoration: none;
}
.image-size{
  height: 250px;
  width: 100%;
}
.card{
  border: 0.40rem solid #325b83;
  top: 10%;
}
.card-body{

    flex: 0 !important;
    padding: 1rem 1rem;

}
.card.signup{
  background-color: #1b1a1a;
  width:1200px;
  /* padding: auto; */
}
.signup.form-control{
  background-color: #f8f9fa;

  padding: 25px 15px;
  margin-bottom: 1.3rem;
  align-items: center;
}
.signup.form-group{
    background-color: #f8f9fa;
  
    padding: 25px 15px;
    margin-bottom: 1.3rem;
    align-items: center;
  }
  
.signup.form-control:focus {

    color: #000000;
    background-color: #ffffff;
    border: 3px solid #da5767;
    outline: 0;
    box-shadow: none;

}

.signup.btn{
  padding: 0.6rem 1.2rem;
  background: #da5767;
  border: 2px solid #da5767;
}
.btn-primary:hover {

    
    background-color: #df8c96;
    border-color: #df8c96;
  transition: .3s;

}
.help-block-error{
    color: red;
}
.list-container{
  border:1px solid grey;
  padding:50px;
  margin: 50px;
}
.card {
 
  border: #ffffff;
  /* margin: auto; */
  padding: 15px;
  position: relative;

  box-shadow: 0 0 11px rgba(33,33,33,.2); 
  /* border: 12px solid red; */
}

.card-groups{
  display: flex;
  flex-flow: row wrap;
}

.zoom {
  padding: 50px;
  background-color:#f8f9fa;
  transition: transform .2s; /* Animation */
  width: 200px;
  height: 100px;
  margin: 0 auto;
}

.zoom:hover {

  box-shadow: 0 0 11px rgba(33,33,33,.2); 
  transform: scale(1.3); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.description {
      
  padding: 30px;
  float: left;
  width: 55%;
  border-left: 2px solid #efefef;
}
h1 {
  color: #515151;
  font-weight: 300;
  padding-top: 15px;
  margin: 0;
  font-size: 30px;
  font-weight: 300;
}

h2 {
 color: #515151;
 margin: 0;
 text-transform: uppercase;
 font-weight: 500;
}

h4 { 
  margin: 0;
  color: #727272;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 12px
}

p { 
  font-size: 18px; 
  line-height: 20px;
  color: #727272;
  padding: 20px 0;
  margin: 0;
}
.card-text-title{
  padding: 10px 0 !important;
  text-transform: capitalize;
  -webkit-text-stroke-width: thin;
}

.veg-non-veg-type-img{
  height: 40px;
  width: 40px;
  position: absolute;
  top: 14px;
  left: 19px;
}
.preview {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }
  @media screen and (max-width: 996px) {
    .preview {
      margin-bottom: 20px; } }

.preview-pic {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1; }

.preview-thumbnail.nav-tabs {
  border: none;
  margin-top: 15px; }
  .preview-thumbnail.nav-tabs li {
    width: 18%;
    margin-right: 2.5%; }
    .preview-thumbnail.nav-tabs li img {
      max-width: 100%;
      display: block; }
    .preview-thumbnail.nav-tabs li a {
      padding: 0;
      margin: 0; }
    .preview-thumbnail.nav-tabs li:last-of-type {
      margin-right: 0; }

.tab-content {
  overflow: hidden; }
  .tab-content img {
    width: 100%;
    -webkit-animation-name: opacity;
            animation-name: opacity;
    -webkit-animation-duration: .3s;
            animation-duration: .3s; }


@media screen and (min-width: 997px) {
  .wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; } }

.details {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }

.colors {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1; }

.product-title, .price{
  text-transform: UPPERCASE;
  font-weight: bold; }

.product-title, .checked, .price span {
  color: #ff9f1a; }

.product-title, .rating, .product-description, .price, .vote, .sizes {
  margin-bottom: 15px; }

.product-title {
  margin-top: 0; }

.size {
  margin-right: 10px; }
  .size:first-of-type {
    margin-left: 40px; }

.color {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
  height: 2em;
  width: 2em;
  border-radius: 2px; }
  .color:first-of-type {
    margin-left: 20px; }

.add-to-cart, .like {
  background: #ff9f1a;
  padding: 1.2em 1.5em;
  border: none;
  text-transform: UPPERCASE;
  margin-left: 10px;
  font-weight: bold;
  color: #fff;
  -webkit-transition: background .3s ease;
          transition: background .3s ease; }
  .add-to-cart:hover, .like:hover {
    background: #b36800;
    color: #fff; }

.not-available {
  text-align: center;
  line-height: 2em; }
  .not-available:before {
    font-family: fontawesome;
    content: "\f00d";
    color: #fff; }


.tooltip-inner {
  padding: 1.3em; }

@-webkit-keyframes opacity {
  0% {
    opacity: 0;
    -webkit-transform: scale(3);
            transform: scale(3); }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1); } }

@keyframes opacity {
  0% {
    opacity: 0;
    -webkit-transform: scale(3);
            transform: scale(3); }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1); } }

/*# sourceMappingURL=style.css.map */
@media all and (min-width: 480px) {
  .Login {
    padding: 60px 0;
  }
.login.card{
  background-color: #1b1a1a;
}
  .Login form {
    margin: 0 auto;
    max-width: 320px;
  }
  .login label{
    color:white;
    margin:auto;
    size: 10px;
  }
  .login.form-group{
    /* background-color: #f8f9fa; */
    /* padding: 20px; */
    padding: 25px 15px;
    margin-bottom: 1.3rem;
    align-items: center;
  }
  .login.form-control {

    color: #000000;
    background-color: #fffefe;
    /* border: 3px solid #da5767; */
    outline: 0;
    height: 70px;
    box-shadow: none;

}
.login.form-control:focus {

    color: #000000;
    background-color: #fffefe;
    border: 3px solid #da5767;
    outline: 0;
    box-shadow: none;

}
a{
  color: aqua;
}
}
